@import '~/nativescript-theme-core/css/blue.css';
.drawer-content {
  background-color:#3d5afe;
  color: #ffffff;
  padding-top: 20;
  width:300;
}
.drawer-content label {
  font-size: 20;
  margin: 10 0 15 25;
}
.selected {
  color: #e4ba4e;
}

.clearfix {
  clear: both;
}

.section-scroller {
  width: 100px;
  height: 100px;
}

.modal {
  color: #fff;
	background-color: rgba(0, 0, 0, 0.9);
}

.close-modal-icon {
	width: 100px;
  height: 100px;
}

/**/
.spec-details-text-container {
  width: 100%;
}

.spec-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.spec-details-text-container {
  width: 80%;
  padding: 5%;
}

.spec-label {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.padding-table-cell {
  font-size: 20vw;
}