.guidelines-header {
	text-align: center;
	font-size: 30vw;
	border-bottom-width:1;
    border-bottom-color:#66cc33;
}

.guidelines-container {
	margin-top: 5%;
}

.modal-guidelines-info {
	width: 100%;
	margin: 2% 0 2% 0;
}

.guidelines-blurb-container {
	border-bottom-width:1;
    border-bottom-color:#717171;
	padding-bottom: 10%;
}

.guidelines-blurb {
	font-size: 15vw;
	line-height: 40;
	text-align: center;
	letter-spacing: 0.1%;
}

.guidelines-list-container {
	padding-left: 20%;
	height: 230vh;
	border-width: 1;
	border-color: #66cc33;
}

.guidelines-listing {
	padding-top: 10%;
	padding-bottom: 10%;
}

.guidelines-disclaimer {
    font-size: 15vw;
    padding-top: 20px;
    text-align: center;
    line-height: 22px;
	letter-spacing: 0.1%;
}