/*IE9 and above CSS HACK*/
@media screen and (min-width:0\0) {

	.commerical-logo img, .commerical-text-year img, .research-text-year img, .research-logo img, .failover-vr-logo img, .failover-vr-logo svg {
		-ms-interpolation-mode: bicubic;
	}

	.commerical-logo img {
		width: 150% !important;
		margin-left: -25% !important;
	}

	.commerical-text-year img {
		width: 40% !important;
		margin-left: 30% !important;
	}

	.research-text-year img {
		width: 45% !important;
		margin-left: 36% !important;
	}

	.research-logo img {
		width: 212% !important;
		margin-left: -43% !important;
	}

	.failover-vr-logo img {
		width: 150% !important;
		margin-left: -25% !important;
	}
}

/*IE9 ONLY CSS HACK*/
@media all and (min-width:0\0) and (min-resolution:.001dpcm) {
}

/*>= FF29 ONLY CSS HACK*/
@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) and (max-width: 1921px) {

	.commerical-text-year {
		min-width: 16%;
		max-width: 16%;
	}

	.research-text-year {
		min-width: 16%;
		max-width: 16%;
	}
}

/*>= FF29 ONLY CSS HACK*/
@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) and (min-width: 1922px) {

	.commerical-text-year {
		min-width: 7%;
		max-width: 7%;
	}

	.research-text-year {
		min-width: 7%;
		max-width: 7%;
	}
}

/*>= CHROME 29 ONLY CSS HACK*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (max-width: 1921px) { 

	.commerical-text-year {
		min-width: 16%;
		max-width: 16%;
	}

	.research-text-year {
		min-width: 16%;
		max-width: 16%;
	}

}

/*>= CHROME 29 ONLY CSS HACK*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-width: 1922px) { 

	.commerical-text-year {
		min-width: 7%;
		max-width: 7%;
	}

	.research-text-year {
		min-width: 7%;
		max-width: 7%;
	}

}