/*iphone 5 and above portrait*/
@media (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {
  .clear, .research-numbered-header, .research-numbered {
    clear: both; }
  .left {
    float: left; }
  /*nav*/
  .menu {
    width: 90%;
    margin: 0 0 0 30px;
    padding: 17px 12px 12px 0; }
  .menu-mobile {
    display: block;
    padding: 0 0 0 30px; }
  .menu-mobile-self {
    display: block;
    right: -85px;
    top: 15px; }
  .menu-items {
    display: none; }
  .fixed-nav-bar-self {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 65px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent #000000 transparent transparent;
    opacity: 0; }
  .top-slide-nav {
    display: block;
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center; }
  .top-slide-nav .mobile-menu-links div {
    padding: 15px 0;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'dense-regular';
    border-bottom: 1px solid rgba(216, 216, 216, 0.2); }
  .top-slide-nav .mobile-menu-links div:hover {
    color: #f1f1f1; }
  .top-slide-nav a.close-side-menu-a {
    border-bottom: 0px solid #fff; }
  .top-slide-nav .mobile-menu-links div:last-child {
    border-bottom: 0px solid #fff;
    background-color: #202020;
    color: #b0b0b0; }
  .close-side-menu-a {
    position: absolute; }
  .close-side-nav {
    width: 50%; }
  .middle-kawasaki-open-bar {
    height: 90px; }
  .middle-kawasaki-open-bar img {
    height: 90px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
  .testvr-experience .sup {
    font-size: 20px;
    margin-top: -6px; }
  /*all modal*/
  .modal {
    padding-top: 0px; }
  .modal-header .close-btn img {
    padding-top: 20px; }
  #specificationModal .modal-header {
    padding-top: 25px; }
  /*first slide*/
  .commerical-text-year img {
    width: 100%; }
  #commercial .mobile-tablet-static-img {
    position: absolute;
    min-height: 504px;
    top: 65px; }
  .mobile-tablet-static-img img {
    position: absolute;
    width: 100%;
    top: -60px; }
  .commerical-logo img, .commerical-logo svg {
    width: 100%;
    margin: 0; }
  .commerical-life-description {
    width: 270px;
    line-height: 20px;
    font-size: 3vw;
    text-align: center; }
  .commerical-life-arrow {
    transform: scale(0.55); }
  .close-button-container {
    transform: scale(0.5);
    top: 40px; }
  #commercialGreenPageTransition {
    height: 20px;
    opacity: 1;
    margin: 0; }
  #slideOneScroller.scroll-indicator {
    transform: scale(0.7);
    width: auto; }
  .video_contain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  /*second slide*/
  #virtual .mobile-tablet-static-img {
    position: absolute;
    top: 65px;
    overflow: hidden;
    width: 100%; }
  .testvr-text-year {
    top: 35px;
    opacity: 1; }
  .testvr-logo {
    left: 0;
    margin-top: 0;
    padding: 0 20px;
    opacity: 1; }
  .testvr-logo img {
    width: 100%; }
  .testvr-gray-bg {
    height: 150px;
    top: 85px; }
  .vr-test-ride-selection {
    padding: 0 0 0 20px;
    top: 280px; }
  .testvr-testride {
    top: 79px;
    opacity: 1; }
  .testvr-experience {
    line-height: 20px;
    letter-spacing: 1px;
    opacity: 1;
    padding-top: 7px; }
  .testvr-description {
    text-align: center;
    padding: 0 20px;
    margin: 0;
    line-height: 16px;
    opacity: 1;
    font-size: 3vw; }
  .vr-test-ride-selection .text-vr-hover-txt {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4); }
  .vr-video-green-line {
    margin-bottom: 0; }
  .interactive-ride-img svg, .free-ride-img svg {
    transform: scale(0.4); }
  #slideTwoScroller.scroll-indicator {
    transform: scale(0.3);
    width: auto; }
  /*third slide*/
  .spec-parts {
    width: 50%;
    float: left; }
  .non-spec-container {
    position: absolute;
    width: 100%;
    border-top: 5px solid #b0b0b0; }
  .non-explore-ninja {
    position: absolute;
    font-family: 'dense-regular';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    z-index: 5; }
  .non-explore-ninja .sup {
    display: inline-block;
    margin-top: 0px;
    vertical-align: top;
    font-size: 5vw; }
  .spec-ninja-logo {
    position: absolute;
    left: 0vw;
    top: 25vw;
    width: 100%; }
  .spec-ninja-logo img {
    width: 100%; }
  .spec-ninja-bike {
    position: absolute;
    left: 0vw;
    top: 50vw;
    opacity: 0.5;
    transform: scale(0.95);
    width: 100%; }
  .spec-ninja-bike img {
    width: 100%; }
  .non-tech-image {
    border: 1px solid #D8D8D8; }
  .non-tech-image[data-tech="power"] {
    background: url(../assets/slide3/power.jpg) no-repeat;
    background-size: 500% 388%;
    background-position: 75% 75%; }
  .non-tech-image[data-tech="comfort"] {
    background: url(../assets/slide3/comfort.jpg) no-repeat;
    background-size: 480% 390%;
    background-position: 78% 30%; }
  .non-tech-image[data-tech="handling"] {
    background: url(../assets/slide3/handling.jpg) no-repeat;
    background-size: 170% 190%;
    background-position: 60% 30%; }
  .non-tech-image[data-tech="styling"] {
    background: url(../assets/slide3/styling.jpg) no-repeat;
    background-size: 240% 248%;
    background-position: 100% 70%; }
  .non-tech-image[data-tech="racingheritage"] {
    background: url(../assets/slide3/heritage.jpg) no-repeat;
    background-size: 138% 158%;
    background-position: center bottom; }
  .non-tech-image[data-tech="convenience"] {
    background: url(../assets/slide3/convenience.jpg) no-repeat;
    background-size: 230% 200%;
    background-position: 70% 50%; }
  #specificationModal .spec-details-container {
    width: 100%;
    opacity: 1;
    top: 0.0%; }
  #specificationModal.modal {
    background-color: #fff; }
  #specificationModal .modal-body {
    overflow-y: initial;
    max-height: 100%;
    padding-top: 30%; }
  #specificationModal .modal-spec-content-info {
    overflow-y: auto; }
  .spec-title {
    font-size: 10vw;
    padding-left: 5%;
    padding-top: 0%;
    letter-spacing: 1px; }
  .spec-label {
    letter-spacing: 0px; }
  .spec-details-container {
    padding-left: 0%; }
  .spec-details-text-container {
    padding: 5%;
    width: 78%; }
  .padding-table-cell {
    padding: 0 0 5px 0; }
  .padding-table-cell-details {
    padding-bottom: 30px; }
  /*fourth slide*/
  .ninja-life-text {
    font-size: 35px;
    letter-spacing: 10px;
    opacity: 1;
    padding-left: 0; }
  .social-community-txt {
    top: 110px;
    opacity: 1; }
  .social-community-social-icons {
    opacity: 1; }
  .social-gray-bg {
    top: 60px;
    height: 140px; }
  .social-container {
    top: 208px; }
  .social-left-line, .social-right-line {
    width: 20px;
    top: 60px; }
  .social-icon-grid-middle {
    width: 18px;
    height: 18px; }
  .social-icon-line-grid-middle {
    width: 45px; }
  .social-guidelines-txt {
    letter-spacing: 2px;
    opacity: 1;
    top: 145px; }
  .flip-container {
    width: 50%; }
  #socialModalId .modal-content {
    width: 100%;
    margin-top: 0;
    padding-top: 10px; }
  #socialModalId .modal-body {
    width: 100%;
    padding-top: 0; }
  #socialModalId .modal-social-container {
    padding-top: 10px; }
  #socialModalId .modal-content-image {
    width: 90%;
    height: 50%; }
  #socialModalId .modal-content-container {
    width: 90%;
    height: 50%;
    float: left; }
  #socialModalId .modal-content-info {
    margin-top: 15px;
    padding: 0 15px;
    overflow: hidden; }
  #socialModalId .modal-user-info {
    font-size: 18px; }
  #socialModalId .social-rectangle {
    height: 1px; }
  #socialModalId .modal-text-info {
    font-size: 12px; }
  .flip-container-hover-instagram, .flip-container-hover-twitter {
    border-width: 7px; }
  /*fifth slide*/
  .fifth-slide {
    min-height: 670px;
    background: url("../assets/slide5/research-tools-bg.jpg") no-repeat;
    background-position: 50% 50%; }
  .research-text-year {
    opacity: 1;
    top: 60px; }
  .research-text-year img {
    width: 150%;
    transform: scale(0.85);
    margin: 0; }
  .research-logo {
    opacity: 1;
    top: 96px; }
  .research-logo img {
    width: 100%;
    transform: scale(0.82);
    margin: 0; }
  .research-research-txt {
    top: 92px;
    opacity: 1; }
  .research-in-dealership {
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 1;
    top: 150px; }
  .research-numbered-container {
    opacity: 1; }
  .footer-tiles {
    width: 100%;
    border-width: 0px; }
  .footer-tiles:last-child {
    /*COMMENT OUT FOR THREE COLUMNS*/
    /*display: none;*/ }
  .footer-tiles-container {
    margin: 0;
    width: 90%; }
  .footer-tiles-margin {
    margin-right: 0; }
  .research-numbered-header {
    float: left;
    padding-left: 0;
    width: 35%;
    padding-right: 5.3%;
    padding-top: 9px;
    text-align: left;
    font-size: 20px;
    border-right: 1px solid #39393c;
    /*UNCOMMENT OUT FOR THREE COLUMNS*/
    height: 85px; }
  .research-numbered-header div {
    padding-left: 5px; }
  .research-numbered-link {
    float: left;
    font-size: 12px;
    line-height: 35px; }
  .research-numbered {
    width: 40%;
    float: left; }
  .restart-experience-indicator {
    /*padding-top: 20px;*/
    padding-top: 30px;
    left: 8px; }
  .research-restart-btn {
    transform: scale(0.6); }
  .research-exit-btn {
    transform: scale(0.6); }
  .restart-experience-txt {
    font-size: 15px;
    width: 45%;
    padding-left: 60px;
    padding-top: 14px;
    letter-spacing: 4px; }
  .exit-experience-txt {
    font-size: 15px;
    width: 45%;
    padding-left: 60px;
    padding-top: 14px;
    letter-spacing: 4px; } }

/**********************************specific iphone sizes portrait*********************************************/
/*iphone 5*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .middle-kawasaki-open-bar img {
    top: 125px; }
  .commerical-life-description {
    width: 270px; }
  .close-button-container {
    left: 34vw; }
  .research-research-txt {
    left: 4vw;
    font-size: 19vw;
    letter-spacing: 2px; }
  .social-community-txt {
    left: 10vw;
    font-size: 22vw;
    letter-spacing: 4px; }
  .testvr-testride {
    left: 5vw;
    font-size: 14vw;
    top: 165px; }
  .testvr-experience {
    left: 10vw;
    font-size: 8vw;
    top: 133px; }
  .testvr-description {
    top: 220px;
    line-height: 16px; }
  .vr-test-ride-selection {
    top: 350px;
    padding: 0 0 0 10px; }
  .vr-test-ride-selection .text-vr-hover-txt {
    font-size: 6vw;
    width: 150px; }
  .ninja-life-text {
    left: 4vw;
    font-size: 20px;
    letter-spacing: 20px; }
  .non-explore-ninja {
    left: 10vw;
    font-size: 12vw;
    margin-top: 80px;
    letter-spacing: 4px; }
  .social-guidelines-txt {
    font-size: 4vw;
    left: 20vw;
    top: 138px; }
  .top-slide-nav a {
    padding: 25px 0; }
  .mobile-menu-links {
    margin-top: 80px; }
  #socialModalId .modal-content-info {
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 156.8px; }
  @-moz-document url-prefix() {
    #socialModalId .modal-content-info {
      overflow: hidden;
      position: relative; }
    #socialModalId .modal-content-info:before {
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem; }
    #socialModalId .modal-content-info:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1; } }
  #socialGuidelinesModalId .modal-body {
    padding-top: 0%;
    width: 90%; }
  .guidelines-header {
    font-size: 28px;
    width: 100%;
    padding-bottom: 5px; }
  .modal-guidelines-info {
    width: 100%;
    font-size: 3vw; }
  .guidelines-blurb {
    line-height: 16px;
    font-size: 8px;
    padding: 5px 0; }
  .guidelines-rules {
    font-size: 8px;
    padding: 0; }
  .modal-guidelines-container ul li {
    line-height: 20px; }
  .modal-guidelines-container ul li span {
    line-height: 16px; }
  .guidelines-disclaimer {
    font-size: 8px;
    width: 100%;
    line-height: 16px;
    padding-top: 5px; }
  .research-numbered-link {
    background-position: 15px 14px;
    padding-left: 30px; }
  .restart-black-bkg {
    height: 90px; }
  #loadingImage {
    position: absolute;
    margin-top: 15%; }
  #loadingImgLogoImg {
    width: 38%;
    margin-left: 2%; }
  #loadingImgSpiner {
    margin-left: 8%; } }

/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .middle-kawasaki-open-bar img {
    top: 130px; }
  .top-slide-nav .mobile-menu-links div {
    padding: 25px 0; }
  .mobile-menu-links {
    margin-top: 80px; }
  .close-button-container {
    left: 36vw; }
  .commerical-life-description {
    width: 330px; }
  .research-research-txt {
    font-size: 19vw;
    left: 4vw;
    letter-spacing: 2px; }
  .social-community-txt {
    font-size: 20vw;
    left: 14vw; }
  .testvr-testride {
    left: 3vw;
    font-size: 15vw; }
  .testvr-experience {
    left: 11vw;
    font-size: 8vw; }
  .ninja-life-text {
    left: 5vw;
    font-size: 25px;
    letter-spacing: 22px; }
  .testvr-description {
    top: 225px;
    line-height: 20px; }
  .vr-test-ride-selection {
    padding-left: 15px;
    top: 400px; }
  .vr-test-ride-selection .text-vr-hover-txt {
    font-size: 6vw;
    width: 170px; }
  .non-explore-ninja {
    font-size: 10vw;
    left: 16vw;
    margin-top: 100px; }
  .social-guidelines-txt {
    font-size: 3vw;
    left: 28vw; }
  #socialModalId .modal-content-container {
    height: 55%; }
  #socialModalId .modal-content-info {
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 196px; }
  @-moz-document url-prefix() {
    #socialModalId .modal-content-info {
      overflow: hidden;
      position: relative; }
    #socialModalId .modal-content-info:before {
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem; }
    #socialModalId .modal-content-info:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1; } }
  #socialGuidelinesModalId .modal-body {
    padding-top: 5%;
    width: 90%; }
  .guidelines-header {
    font-size: 46px;
    width: 100%; }
  .modal-guidelines-info {
    width: 100%; }
  .guidelines-blurb {
    line-height: 22px;
    font-size: 12px;
    padding: 10px 0; }
  .guidelines-rules {
    font-size: 12px;
    padding: 0; }
  .modal-guidelines-container ul li {
    line-height: 22px; }
  .modal-guidelines-container ul li span {
    line-height: 16px; }
  .guidelines-disclaimer {
    font-size: 8px;
    width: 100%;
    line-height: 22px; }
  .research-numbered-link {
    background-position: 30px 14px;
    padding-left: 55px; }
  .restart-black-bkg {
    height: 90px; }
  #loadingImage {
    position: absolute;
    margin-top: 15%; }
  #loadingImgLogoImg {
    width: 46%;
    margin-left: 2%; }
  #loadingImgSpiner {
    margin-left: 11%; }
  .restart-experience-indicator {
    left: 16px; } }

/*iphone 6 plus*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .top-slide-nav .mobile-menu-links div {
    padding: 25px 0; }
  .top-slide-nav .mobile-menu-links div:first-child {
    padding-top: 65px; }
  .mobile-menu-links {
    margin-top: 70px; }
  .close-button-container {
    left: 38vw; }
  .middle-kawasaki-open-bar img {
    top: 150px; }
  .commerical-life-description {
    width: 350px; }
  .research-research-txt {
    font-size: 20vw;
    left: 4vw;
    letter-spacing: 2px; }
  .social-community-txt {
    font-size: 20vw;
    left: 15vw; }
  .testvr-testride {
    left: 4vw;
    font-size: 14vw; }
  .testvr-experience {
    left: 12vw;
    font-size: 8vw; }
  .ninja-life-text {
    left: 6vw;
    font-size: 30px;
    letter-spacing: 22px; }
  .testvr-description {
    top: 225px;
    line-height: 24px; }
  .vr-test-ride-selection {
    padding-left: 10px;
    top: 435px; }
  .vr-test-ride-selection .text-vr-hover-txt {
    font-size: 6vw;
    width: 195px; }
  .non-explore-ninja {
    font-size: 12vw;
    left: 10vw;
    margin-top: 125px;
    letter-spacing: 4px; }
  .spec-ninja-logo {
    top: 30vw; }
  .spec-ninja-bike {
    top: 48vw; }
  .social-guidelines-txt {
    font-size: 3vw;
    left: 28vw; }
  #socialModalId .modal-content-container {
    height: 55%; }
  #socialModalId .modal-content-info {
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 186.2px; }
  @-moz-document url-prefix() {
    #socialModalId .modal-content-info {
      overflow: hidden;
      position: relative; }
    #socialModalId .modal-content-info:before {
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem; }
    #socialModalId .modal-content-info:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1; } }
  #socialGuidelinesModalId .modal-body {
    padding-top: 5%;
    width: 90%; }
  .guidelines-header {
    font-size: 46px;
    width: 100%; }
  .modal-guidelines-info {
    width: 100%; }
  .guidelines-blurb {
    line-height: 22px;
    font-size: 13px;
    padding: 5px 0; }
  .guidelines-rules {
    font-size: 13px;
    padding: 0; }
  .modal-guidelines-container ul li {
    line-height: 22px; }
  .modal-guidelines-container ul li span {
    line-height: 16px; }
  .guidelines-disclaimer {
    font-size: 8px;
    width: 100%;
    line-height: 22px; }
  .research-numbered-link {
    background-position: 30px 14px;
    padding-left: 55px; }
  .restart-black-bkg {
    height: 90px; }
  #loadingImage {
    position: absolute;
    margin-top: 15%; }
  #loadingImgLogoImg {
    width: 51%;
    margin-left: 2%; }
  #loadingImgSpiner {
    margin-left: 14%; }
  .restart-experience-indicator {
    left: 24px; } }

/**********************************specific iphone sizes landscape for rotation of device*********************************************/
@media (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
  .modal {
    padding-top: 0px; } }

/*iphone 5*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .modal-orientation {
    position: absolute;
    left: 45%;
    top: 150px; }
  #genericModalContent.modal-content {
    width: 100%; }
  .mobile-rotate-container {
    position: absolute;
    left: 15%;
    top: 0px; }
  .image-rotate-img {
    position: absolute;
    left: 14vw; } }

/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .modal-orientation {
    position: absolute;
    left: 45%;
    top: 150px; }
  #genericModalContent.modal-content {
    width: 100%; }
  .mobile-rotate-container {
    position: absolute;
    left: 15%;
    top: 0px; }
  .image-rotate-img {
    position: absolute;
    left: 16vw; } }

/*iphone 6 plus*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .modal-orientation {
    position: absolute;
    left: 45%;
    top: 150px; }
  #genericModalContent.modal-content {
    width: 100%; }
  .mobile-rotate-container {
    position: absolute;
    left: 15%;
    top: 0px; }
  .image-rotate-img {
    position: absolute;
    left: 18vw; } }

