.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.padding-table-cell {
  padding: 0 60px 10px 0; }

/*generic modal*/
#genericUseModal.modal {
  z-index: 999; }

.modal.modal-init-onshow {
  background-color: black;
  display: block; }

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.85); }

.close-btn img {
  padding-top: 70px;
  margin-left: -32px; }

/*social modal*/
#socialModalId .modal-content, #genericUseModal .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid transparent;
  width: 800px;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 6px; }

#socialModalId .modal-content {
  padding-top: 65px; }

#socialModalId .modal-header, #specificationModal .modal-header {
  padding: 2px 16px;
  color: #fff;
  text-align: center;
  margin: 0 auto; }

#socialModalId .modal-body {
  padding: 75px 16px 2px 16px;
  color: #fff;
  float: left;
  width: 100%;
  height: 500px; }

#socialModalId .modal-content-image {
  float: left;
  width: 50%;
  height: inherit; }

#socialModalId .modal-content-container {
  float: right;
  width: 50%;
  height: 100%; }

#socialModalId .modal-content-info {
  padding-left: 30px;
  margin-top: 35px; }

#socialModalId .modal-content-info > img {
  width: 18px;
  height: 18px; }

.social-rectangle {
  width: 20px;
  height: 5px;
  border: 1px solid #fff;
  background-color: #fff; }

.modal-user-info {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 25px;
  color: #fff;
  letter-spacing: 2px;
  padding-bottom: 15px; }

#socialModalId .modal-text-info {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 15px; }

#socialModalId .modal-social-container {
  padding-top: 50px; }

/*spec modal*/
#specificationModal .modal-header {
  z-index: 9; }

#specificationModal.modal {
  transition: 0.5s;
  background-color: transparent; }

.modal-spec-content-info {
  position: relative;
  margin-top: -83px; }

.spec-details-backing {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.51);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0; }

.spec-details-container {
  position: absolute;
  width: 34%;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 16%;
  -webkit-box-shadow: 0 8px 36px -8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 36px -8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 36px -8px rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 1;
  top: -70px; }

.spec-title {
  font-family: 'din_next_regular';
  font-weight: bold;
  font-size: 50px;
  color: #000;
  letter-spacing: 15px;
  text-transform: uppercase;
  padding-top: 70px; }

.spec-details-text-container {
  padding-top: 40px; }

.spec-label {
  font-family: 'din_next_regular';
  font-weight: bold;
  font-size: 16px;
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase; }

.spec-label-details {
  font-family: 'din_next_regular';
  font-weight: normal;
  font-size: 16px;
  color: #000;
  letter-spacing: 0px;
  padding-bottom: 40px; }

/*IMAGES PER SPEC*/
.power-modal-mobile {
  background: url("../assets/slide3/power.jpg") no-repeat;
  background-position: 77% 88%; }

.handling-modal-mobile {
  background: url("../assets/slide3/handling.jpg") no-repeat;
  background-size: cover;
  background-position: 20% 50%; }

.comfort-modal-mobile {
  background: url("../assets/slide3/heritage.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }

.styling-modal-mobile {
  background: url("../assets/slide3/styling.jpg") no-repeat;
  background-size: 250% 150%;
  background-position: 85% 80%; }

.heritage-modal-mobile {
  background: url("../assets/slide3/convenience.jpg") no-repeat;
  background-size: 200% 150%;
  background-position: 80% 50%; }

.convenience-modal-mobile {
  background: url("../assets/slide3/comfort.jpg") no-repeat;
  background-position: 75% 30%; }

/*vr test ride modal*/
.modal-vtr-content-info {
  position: absolute;
  padding: 0 20px; }

#testVRContent .modal-header {
  text-align: center; }

.modal-vtr-content-container, .modal-vtr-content-info {
  width: 1280px;
  height: 720px; }

/*social guideline modal*/
#socialGuidelinesModalId {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9); }

#socialGuidelinesModalId .modal-header {
  text-align: center; }

#socialGuidelinesModalId .modal-body {
  padding: 75px 16px 2px 16px;
  color: #fff;
  float: left;
  width: 100%;
  height: 500px; }

.modal-guidelines-container ul {
  color: #66cc33; }

.modal-guidelines-container ul li span {
  color: #fff;
  line-height: 55px; }

.guidelines-header {
  margin: 0 auto;
  font-family: 'dense-regular';
  font-size: 90px;
  width: 60%;
  text-transform: uppercase;
  letter-spacing: 10px;
  border-bottom: 1px solid #66cc33;
  text-align: center;
  padding-bottom: 15px; }

.modal-guidelines-info {
  width: 60%;
  font-family: 'din_next_regular';
  margin: 0 auto;
  font-size: 16px; }

.guidelines-blurb {
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 1px solid #717171;
  padding: 40px 0;
  line-height: 22px; }

.guidelines-rules {
  border-bottom: 1px solid #717171;
  padding: 20px 0; }

.guidelines-disclaimer {
  width: 60%;
  font-family: 'din_next_regular';
  margin: 0 auto;
  font-size: 12px;
  color: #717171;
  padding-top: 20px;
  text-align: center;
  line-height: 22px;
  letter-spacing: 1px; }

@media (max-height: 790px) {
  .modal-header .close-btn img {
    width: 50px; } }

/**********************************specific iphone sizes landscape for rotation of device*********************************************/
@media (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
  .modal {
    padding-top: 0px; } }

/*iphone 5*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .modal-orientation {
    position: absolute;
    left: 45%;
    top: 150px; }
  #genericModalContent.modal-content {
    width: 100%; }
  .mobile-rotate-container {
    position: absolute;
    left: 15%;
    top: 0px; }
  .image-rotate-img {
    position: absolute; } }

/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .modal-orientation {
    position: absolute;
    left: 45%;
    top: 150px; }
  #genericModalContent.modal-content {
    width: 100%; }
  .mobile-rotate-container {
    position: absolute;
    left: 15%;
    top: 0px; }
  .image-rotate-img {
    position: absolute; } }

/*iphone 6 plus*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .modal-orientation {
    position: absolute;
    left: 45%;
    top: 150px; }
  #genericModalContent.modal-content {
    width: 100%; }
  .mobile-rotate-container {
    position: absolute;
    left: 15%;
    top: 0px; }
  .image-rotate-img {
    position: absolute; } }

