.researchtool-slide {
	background: url("../assets/slide5/research-tools-bg.jpg") no-repeat;
	background-size: cover;
	background-color: #000;
	position: relative;
	z-index: 0;
	min-height: 960px;
}

.research-listing-points, .footer-tiles-container, .footer-tiles, .research-numbered, .research-restart-btn, .flip-container, .research-exit-btn {
	float: left;
}

.research-grey-bkg {
	width: 100%;
	position: absolute;
	background-color: #5A5A5A;
	opacity: 0.2;
	z-index: -1;
}

.restart-black-bkg {
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	height: 150px;
	bottom: 0;
	z-index: 2;
}

.research-container {
	position: relative;
	padding: 120px 0 0 0;
}

.research-text-year {
	position: absolute;
	top: 130px;
	opacity: 0;
}

.research-logo {
	position: absolute;
	margin-top: -15px;
	opacity: 0;
}

.research-research-txt {
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 100px;
	z-index: -1;
	font-family: 'dense-regular';
	font-size: 222px;
	color: #676767;
	font-weight: normal;
	letter-spacing: 6px;
	text-transform: uppercase;
	width: auto;
	opacity: 0;
}

.research-in-dealership {
	position: absolute;
	font-family: 'din_next_heavy';
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	letter-spacing: 5px;
	text-transform: uppercase;
	opacity: 0;
}

.research-numbered-container {
	padding: 100px 0 0 0;
	opacity: 0;
}

.research-listing-points {
	position: relative;
	width: 23%;
	min-height: 1px;
}

.footer-tiles-container {
	position: absolute;
	margin-top: 100px;
}

.footer-tiles {
	border-left: 1px solid #39393c;
}

.research-numbered {
	width: 245px;
	border: 1px solid #66cc33;
}

.research-numbered-header {
	padding-top: 45px;
	font-family: 'alternate_gothic_fs_no_2Rg';
	font-weight: normal;
	font-size: 35px;
	color: #fff;
	padding-left: 30px;
	padding-bottom: 25px;
}

.research-numbered-link {
	font-family: 'din_next_regular';
	font-weight: normal;
	font-size: 18px;
	color: #b0b0b0;
	letter-spacing: 1px;
	line-height: 44px;
	margin: 0 0 0 -4px;
	background: url("../assets/slide5/minus.png") no-repeat;
	background-position: 0 17px;
	padding-left: 30px;
	cursor: pointer;
}

.research-numbered-link:hover {
	color: #66cc33;
}

.research-numbered-link a:active, .research-numbered-link a:link, .research-numbered-link a:visited {
	color: #fff;
	text-decoration: none;
}

.research-numbered-link a:active:hover, .research-numbered-link a:visited:hover {
	color: #66cc33;
	text-decoration: none;
}

.restart-experience-indicator {
	position: absolute;
	bottom: 0;
	padding-top: 50px;
	cursor: pointer;
	z-index: 3;
}

.exit-experience-indicator {
	position: absolute;
	bottom: 0;
	padding-top: 50px;
	cursor: pointer;
	z-index: 3;
}


.research-restart-btn {
	width: 60px;
	z-index: 3;
}

.research-exit-btn {
	width: 60px;
	z-index: 3;
}

.restart-experience-txt {
	font-family: 'dense-regular';
	font-weight: normal;
	font-size: 25px;
	color: #fff;
	letter-spacing: 10px;
	padding: 20px 0 0 80px;
	z-index: 3;
}

.exit-experience-txt {
	font-family: 'dense-regular';
	font-weight: normal;
	font-size: 25px;
	color: #fff;
	letter-spacing: 10px;
	padding: 20px 0 0 80px;
	z-index: 3;
}

.restart-experience-txt:hover {
	color: #66cc33;
}

.exit-experience-txt:hover {
	color: #66cc33;
}

@media (max-width: 1921px) {

	.research-text-year img {
		width: 45%;
		margin-left: 21%;
	}

	.research-logo img {
		width: 85%;
		margin-left: 12%;
	}
}

@media (max-width: 1310px) {

	.research-research-txt {
		font-size: 16vw;
	}
}

@media (max-width: 1150px) {
	.research-research-txt {
		font-size: 16vw;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

	.footer-tiles-margin {
		margin-right: 70px;
	}

	.research-text-year {
		top: 135px;
		opacity: 1;
	}

	.research-logo {
		opacity: 1;
	}

	.research-research-txt {
		font-size: 180px;
		top: 140px;
		left: 8vw;
		opacity: 1;
	}

	.research-in-dealership {
		opacity: 1;
	}

	.research-numbered-container {
		opacity: 1;
	}
}


@media (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {

	.clear, .research-numbered-header, .research-numbered {
		clear: both;
	}

	.research-text-year {
		opacity: 1;
		top: 50px;
	}

	.research-text-year img {
		width: 100%;
		transform: scale(0.85);
	}

	.research-logo {
		opacity: 1;
		top: 96px;
	}

	.research-logo img {
		width: 100%;
		transform: scale(0.82);
		margin: 0;
	}

	.research-research-txt {
		top: 92px;
		opacity: 1;
	}

	.research-in-dealership {
		font-size: 14px;
		letter-spacing: 2px;
		opacity: 1;
		top: 150px;
	}

	.research-numbered-container {
		opacity: 1;
	}

	.footer-tiles {
		width: 100%;
		border-width: 0px;
	}

	.footer-tiles:last-child {
		/*COMMENT OUT FOR THREE COLUMNS*/
		/*display: none;*/
	}

	.footer-tiles-container {
		margin: 0;
		width: 90%;
	}

	.footer-tiles-margin {
		margin-right: 0;
	}

	.research-numbered-header {
		float: left;
		padding-left: 0;
		width: 35%;
		padding-right: 5.3%;
		padding-top: 9px;
		text-align: left;
		font-size: 20px;
		border-right: 1px solid #39393c;
		height: 85px;
	}

	.research-numbered-header div {
		padding-left: 5px;
	}

	.research-numbered-link {
		float: left;
		font-size: 12px;
		line-height: 35px;
	}

	.research-numbered {
		width: 40%;
		float: left;
	}

	.restart-experience-indicator {
		/*padding-top: 20px;*/
		padding-top: 50px;
	}

	.research-restart-btn {
		transform: scale(0.7);
	}

	.restart-experience-txt {
		font-size: 16px;
		width: 70%;
		padding-left: 70px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

	.research-research-txt {
		left: 4vw;
		font-size: 16vw;
	}

	.research-numbered-link {
		background-position: 15px 14px;
		padding-left: 30px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

	.research-research-txt {
		font-size: 16vw;
		left: 4vw;
	}

	.research-numbered-link {
		background-position: 30px 14px;
		padding-left: 55px;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

	.research-research-txt {
		font-size: 17vw;
		left: 4vw;
	}

	.research-numbered-link {
		background-position: 30px 14px;
		padding-left: 55px;
	}
}
