.social-slide {
  background: url("../assets/slide4/social-bg.jpg") no-repeat;
  background-size: cover;
  background-color: #000;
  position: relative;
  z-index: 0; }

.social-gray-bg {
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: #5A5A5A;
  opacity: 0.2;
  top: 170px; }

.social-guidelines-txt {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  font-family: 'din_next_heavy';
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  width: auto;
  opacity: 0;
  cursor: pointer;
  top: 170px;
  z-index: 2;
  text-decoration: underline; }

.social-guidelines-txt:hover {
  color: #66cc33; }

.social-community-txt {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 58px;
  z-index: 1;
  font-family: 'dense-regular';
  font-size: 222px;
  color: #151517;
  font-weight: normal;
  letter-spacing: 6px;
  opacity: 0;
  text-transform: uppercase;
  width: auto; }

.social-community-social-icons-container {
  position: absolute;
  z-index: 2; }

.social-community-social-icons {
  padding: 15px 15px 10px 15px;
  border: 1px solid #fff;
  float: left;
  opacity: 0; }

.social-community-social-icons img {
  width: 18px;
  height: 18px; }

.ninja-life-text {
  font-family: 'din_next_heavy';
  font-weight: bold;
  font-size: 54px;
  color: #fff;
  letter-spacing: 45px;
  top: 100px;
  position: absolute;
  opacity: 0;
  z-index: 2;
  padding-left: 20px; }

.social-left-line {
  left: 0; }

.social-right-line {
  right: 0; }

.social-container {
  width: 1440px;
  background-color: transparent;
  position: absolute;
  top: 350px;
  min-height: 360px;
  clear: both; }

.social-icon-grid-middle {
  width: 27px;
  height: 27px;
  position: absolute; }

.social-icon-line-grid-middle {
  width: 47px;
  height: 5px;
  position: absolute; }

.flip-container-hover {
  width: 93%;
  height: 93%;
  position: absolute;
  top: 0;
  cursor: pointer; }

.flip-container-hover-twitter {
  border-style: solid;
  border-color: #4099FF; }

.flip-container-hover-instagram {
  border-style: solid;
  border-color: transparent;
  -moz-border-image: -moz-linear-gradient(top, #8f41b2 0%, #f85a55 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #8f41b2 0%, #f85a55 100%);
  border-image: linear-gradient(to bottom, #8f41b2 0%, #f85a55 100%);
  border-image-slice: 1; }

.flip-container {
  position: relative;
  width: 25%; }

.flipper {
  width: 100%; }

.front-social {
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%; }

.social-grid-bkg {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.social-grid-bkg-no-opacity {
  background-color: transparent; }

/*fadein*/
#socialModalId.fadeIn {
  -moz-animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#socialModalId.fadeIn.fade-out-modal {
  -moz-animation: fadeOut 2s;
  -webkit-animation: fadeOut 2s;
  -o-animation: fadeOut 2s;
  animation: fadeOut 2s; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media (max-width: 1310px) {
  .guidelines-header {
    font-size: 80px;
    width: 70%; }
  .modal-guidelines-info {
    font-size: 14px;
    width: 70%; }
  .guidelines-blurb {
    padding: 20px 0; }
  .guidelines-rules {
    padding: 10px 0; }
  .modal-guidelines-container ul li {
    line-height: 35px; }
  .guidelines-disclaimer {
    font-size: 10px;
    padding-top: 10px; } }

@media (max-height: 850px) {
  #socialModalId .modal-body {
    padding-top: 5px;
    height: 425px; }
  #socialModalId .modal-text-info {
    overflow: hidden;
    height: 235px; }
  .guidelines-header {
    font-size: 80px;
    width: 70%; }
  .modal-guidelines-info {
    font-size: 14px;
    width: 70%; }
  .guidelines-blurb {
    padding: 20px 0; }
  .guidelines-rules {
    padding: 10px 0; }
  .modal-guidelines-container ul li {
    line-height: 35px; }
  .guidelines-disclaimer {
    font-size: 10px;
    padding-top: 10px; } }

@media (max-height: 790px) {
  #socialModalId .modal-body {
    padding-top: 5px;
    height: 400px; }
  #socialModalId .modal-social-container {
    padding-top: 10px; }
  #socialModalId .modal-text-info {
    overflow: hidden;
    height: 235px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .social-community-txt {
    font-size: 190px;
    top: 30px;
    left: 18vw;
    opacity: 1; }
  .ninja-life-text {
    opacity: 1;
    top: 40px;
    font-size: 45px;
    letter-spacing: 40px; }
  .social-gray-bg {
    top: 58px;
    height: 160px; }
  .social-community-social-icons {
    opacity: 1; }
  .social-community-social-icons img {
    width: 18px;
    height: 18px; }
  .social-guidelines-txt {
    opacity: 1;
    top: 100px; }
  .social-line, .social-left-line, .social-right-line {
    width: 30px; }
  .social-container {
    top: 225px; }
  .flip-container-hover-instagram {
    border-width: 9px; }
  .flip-container-hover-twitter {
    border-width: 9px;
    top: 91px; }
  #socialModalId .modal-social-container {
    padding-top: 20px;
    overflow: hidden; }
  #socialModalId .modal-text-info {
    overflow: hidden;
    height: 260px; } }

@media (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {
  .ninja-life-text {
    font-size: 35px;
    letter-spacing: 10px;
    opacity: 1;
    padding-left: 0; }
  .social-community-txt {
    top: 110px;
    opacity: 1; }
  .social-community-social-icons {
    opacity: 1; }
  .social-gray-bg {
    top: 60px;
    height: 140px; }
  .social-container {
    top: 208px; }
  .social-left-line, .social-right-line {
    width: 20px;
    top: 60px; }
  .social-icon-grid-middle {
    width: 18px;
    height: 18px; }
  .social-icon-line-grid-middle {
    width: 45px; }
  .social-guidelines-txt {
    letter-spacing: 2px;
    opacity: 1;
    top: 145px; }
  .flip-container {
    width: 50%; }
  #socialModalId .modal-content {
    width: 100%;
    margin-top: 0;
    padding-top: 10px; }
  #socialModalId .modal-body {
    width: 100%;
    padding-top: 0; }
  #socialModalId .modal-social-container {
    padding-top: 10px; }
  #socialModalId .modal-content-image {
    width: 90%;
    height: 50%; }
  #socialModalId .modal-content-container {
    width: 90%;
    height: 50%;
    float: left; }
  #socialModalId .modal-content-info {
    margin-top: 15px;
    padding: 0 15px;
    overflow: hidden; }
  #socialModalId .modal-user-info {
    font-size: 18px; }
  #socialModalId .social-rectangle {
    height: 1px; }
  #socialModalId .modal-text-info {
    font-size: 12px; }
  .flip-container-hover-instagram, .flip-container-hover-twitter {
    border-width: 7px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .social-community-txt {
    left: 10vw;
    font-size: 22vw;
    letter-spacing: 4px; }
  .ninja-life-text {
    left: 4vw;
    font-size: 20px;
    letter-spacing: 20px; }
  .social-guidelines-txt {
    font-size: 4vw;
    left: 20vw;
    top: 138px; }
  #socialModalId .modal-content-info {
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 156.8px; }
  @-moz-document url-prefix() {
    #socialModalId .modal-content-info {
      overflow: hidden;
      position: relative; }
    #socialModalId .modal-content-info:before {
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem; }
    #socialModalId .modal-content-info:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1; } }
  #socialGuidelinesModalId .modal-body {
    padding-top: 0%;
    width: 90%; }
  .guidelines-header {
    font-size: 28px;
    width: 100%;
    padding-bottom: 5px; }
  .modal-guidelines-info {
    width: 100%;
    font-size: 3vw; }
  .guidelines-blurb {
    line-height: 16px;
    font-size: 8px;
    padding: 5px 0; }
  .guidelines-rules {
    font-size: 8px;
    padding: 0; }
  .modal-guidelines-container ul li {
    line-height: 20px; }
  .modal-guidelines-container ul li span {
    line-height: 16px; }
  .guidelines-disclaimer {
    font-size: 8px;
    width: 100%;
    line-height: 16px;
    padding-top: 5px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .social-community-txt {
    font-size: 20vw;
    left: 14vw; }
  .ninja-life-text {
    left: 5vw;
    font-size: 25px;
    letter-spacing: 22px; }
  .social-guidelines-txt {
    font-size: 3vw;
    left: 28vw; }
  #socialModalId .modal-content-container {
    height: 55%; }
  #socialModalId .modal-content-info {
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 196px; }
  @-moz-document url-prefix() {
    #socialModalId .modal-content-info {
      overflow: hidden;
      position: relative; }
    #socialModalId .modal-content-info:before {
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem; }
    #socialModalId .modal-content-info:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1; } }
  #socialGuidelinesModalId .modal-body {
    padding-top: 5%;
    width: 90%; }
  .guidelines-header {
    font-size: 46px;
    width: 100%; }
  .modal-guidelines-info {
    width: 100%; }
  .guidelines-blurb {
    line-height: 22px;
    font-size: 12px;
    padding: 10px 0; }
  .guidelines-rules {
    font-size: 12px;
    padding: 0; }
  .modal-guidelines-container ul li {
    line-height: 22px; }
  .modal-guidelines-container ul li span {
    line-height: 16px; }
  .guidelines-disclaimer {
    font-size: 8px;
    width: 100%;
    line-height: 22px; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .social-community-txt {
    font-size: 20vw;
    left: 15vw; }
  .ninja-life-text {
    left: 6vw;
    font-size: 30px;
    letter-spacing: 22px; }
  .social-guidelines-txt {
    font-size: 3vw;
    left: 28vw; }
  #socialModalId .modal-content-container {
    height: 55%; }
  #socialModalId .modal-content-info {
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 186.2px; }
  @-moz-document url-prefix() {
    #socialModalId .modal-content-info {
      overflow: hidden;
      position: relative; }
    #socialModalId .modal-content-info:before {
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem; }
    #socialModalId .modal-content-info:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1; } }
  #socialGuidelinesModalId .modal-body {
    padding-top: 5%;
    width: 90%; }
  .guidelines-header {
    font-size: 46px;
    width: 100%; }
  .modal-guidelines-info {
    width: 100%; }
  .guidelines-blurb {
    line-height: 22px;
    font-size: 13px;
    padding: 5px 0; }
  .guidelines-rules {
    font-size: 13px;
    padding: 0; }
  .modal-guidelines-container ul li {
    line-height: 22px; }
  .modal-guidelines-container ul li span {
    line-height: 16px; }
  .guidelines-disclaimer {
    font-size: 8px;
    width: 100%;
    line-height: 22px; } }

