@import 'global-variables';

html {
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%; /*prevent font size being too big then too small or vice versa when changing orientation*/
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.close-btn {
	cursor: pointer;
	padding-left: 35px;
}

.cirlce-r {
	display: inline-block;
	font-size: 10px;
	vertical-align: top;
	margin-top: -4px;
}

.scroll-indicator {
	position: absolute;
	z-index: 4;
	opacity: 1;
	border-color: $white;
	border-radius: 3px;
	overflow: hidden;
	height: 50px;
	cursor: pointer;
	margin-top: -100px;
	z-index: 9;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid $greenApple;
}
