
<div class="spec-details-container">

	<div class="spec-title">
		<span>convenience</span>
	</div>

	<div id="mobileImgDisplay" class="convenience-modal-mobile">
	</div>

	<div class="spec-details-text-container">

		<div class="">
			<div class="spec-label padding-table-cell">
				New Windscreen
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				A new sporty windscreen offers a wide range of wind protection and is adjustable over three positions that cover a total range of 2.4 inches.
			</div>
		</div>



		<div class="">
			<div class="spec-label padding-table-cell">
				New Digital Meter
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				Digital multi-function meter adds a gear position indicator and offers excellent visibility. Its sophisticated design features a large analog tachometer alongside a multi-function LCD screen.
			</div>
		</div>
	</div>

</div>