﻿

<div class="spec-details-container">

	<div class="spec-title">
		<span>racing heritage</span>
	</div>

	<div id="mobileImgDisplay" class="heritage-modal-mobile">
	</div>

	<div class="spec-details-text-container">
		<div class="">
			<div class="table-cell spec-label padding-table-cell">
				AMA Pro Flat Track
			</div>
		</div>

		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				For the 2016 season, three-time champion Bryan Smith aims to continue his championship-winning
				ways aboard the Villa-Esparza/Crosley Radio Kawasaki powered by the same 649cc parallel-twin engine used in the Ninja® 650.
			</div>
		</div>

	</div>

</div>
