<div class="spec-details-container">

	<div class="spec-title">
		<span>handling</span>
	</div>

	<div id="mobileImgDisplay" class="handling-modal-mobile">
	</div>

	<div class="spec-details-text-container">
		<div class="">
			<div class="spec-label padding-table-cell">
				New Chassis
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				New chassis with a trellis frame is lighter and slimmer with improved rigidity. The result is light and nimble handling and a more direct connection to the road.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New Overall Weight
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				The 2017 Ninja® 650 sportbike weighs significantly less than the previous model. This results in light handling and easy maneuverability.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New Horizontal Back-Link Rear Suspension
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				The horizontal back-link rear suspension derived from World Superbike Championship Ninja® technology contributes to improved traction, response and ride comfort. A balance of sporty performance and everyday comfort is achieved.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New 5-Spoke Wheels
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				Rigid lightweight wheels contribute to nimble handling and sporty styling.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				Under-Engine Exhaust
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				Placement of the exhaust under the engine contributes to lower weight centralization for nimble handling.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New Nissin® Brake Calipers
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				Lightweight Nissin brake calipers contribute to strong and responsive stopping power.
			</div>
		</div>

		<div class="">
			<div class="spec-label padding-table-cell">
				New Gull-Arm Design Swingarm
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				The new gull-arm design swingarm provides a lower center of gravity and makes room for the under-engine exhaust, resulting in nimble handling and increased maneuverability.
			</div>
		</div>
		<!--<div class="">-->
			<!--<div class="spec-label-details padding-table-cell padding-table-cell-details">-->
				<!--The new gull-arm design swingarm provides a lower center of gravity and makes room for the under-engine exhaust, resulting in nimble handling and increased maneuverability.-->
			<!--</div>-->
		<!--</div>-->
	</div>
	

</div>