<div class="spec-details-container">

	<div class="spec-title">
		<span>Power</span>
	</div>

	<div id="mobileImgDisplay" class="power-modal-mobile">
	</div>

	<div class="spec-details-text-container">
		<div class="">
			<div class="spec-label padding-table-cell">
				649cc Parallel-Twin Engine
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				A 649cc parallel-twin engine turns out smooth and responsive power. Abundant <br />low- to mid-range torque produces strong acceleration.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New Assist & Slipper Clutch
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				The assist & slipper clutch contributes to lighter clutch pull at the lever (assist) and minimizes rear wheel chatter during downshifts for smoother deceleration (slipper).
			</div>
		</div>
	</div>
	

</div>