﻿<div class="spec-details-container">

	<div class="spec-title">
		<span>comfort</span>
	</div>

	<div id="mobileImgDisplay" class="comfort-modal-mobile">
	</div>

	<div class="spec-details-text-container">
		<div class="">
			<div class="spec-label padding-table-cell">
				Ride Position
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				An upright riding position offers relaxed, sporty ergonomics allowing riders to fully capitalize on the sporty street riding potential of the Ninja® 650 sportbike.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New Seat Height
			</div>
		</div>

		<div class="table-row">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				Reduced seat height along with the bike’s slim overall design makes it easy to keep both feet firmly planted on the ground when stopped. It accommodates a wide range of rider sizes and promotes confidence when riding.
			</div>
		</div>

		<div class="">
			<div class="spec-label padding-table-cell">
				New Handlebars
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				Clip-on style handlebars promote an aggressive Ninja sportbike image while complementing the ergonomics of the upright seating position of the Ninja sportbike.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New Footpeg Position
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				Footpegs have been repositioned for improved ergonomics. This positioning offers a more relaxed and comfortable ride position.
			</div>
		</div>

	</div>

</div>﻿
