<div class="spec-details-container">

	<div class="spec-title">
		<span>styling</span>
	</div>
	<div id="mobileImgDisplay" class="styling-modal-mobile">
	</div>

	<div class="spec-details-text-container">
		<div class="">
			<div class="spec-label padding-table-cell">
				New Sporty Front Cowling
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				The front cowling gives the Ninja® 650 motorcycle an aggressive look, while also providing extra wind protection.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New Aggressive Bodywork
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				The sharp, modern angles of the bodywork give the Ninja 650 a sleek, sporty look and an aerodynamic shape.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New Low Profile Headlights
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				The low profile LED headlights are as stylish as they are practical, giving the Ninja 650 a striking appearance and a commanding view of the road ahead.
			</div>
		</div>


		<div class="">
			<div class="spec-label padding-table-cell">
				New Clip-on Style Handlebars
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				The new clip-on style handlebars closely resemble the supersport line of motorcycles, providing a sporty cockpit and an aggressive riding position.
			</div>
		</div>

		<div class="">
			<div class="spec-label padding-table-cell">
				New X-Pattern LED Taillight
			</div>
		</div>
		<div class="">
			<div class="spec-label-details padding-table-cell padding-table-cell-details">
				The X-Pattern LED taillight increases visibility and improves overall appearance—helping you look good while also being seen.
			</div>
		</div>
	</div>
	
</div>