<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kawasaki Mule Accessory Builder | Accessory Builder</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="title" content="Kawasaki Mule Accessory Builder" />
	<meta name="description" content="View the Kawasaki sportbike Vehicle Experience. Get exclusive motorcycle content including interactive product features, a virtual test ride and social feeds." />


</head>
<body>

	<div id="demo-1">
		<div v-component="my-component"></div>
	</div>

	<script type="text/javascript" src="/scripts/vue.js"></script>
	<script type="text/javascript" src="../js/components/packagetab.js"></script>

</body>
</html>
