.social-section {
  background-color: #000;
  background-image: ~/images/slide4/social-bg.jpg;
  background-repeat: no-repeat;
  background-position: 75% 25%;
  background-size: cover;
}

.twitter-color {
	background-color: #4099FF;
}

.instagram-color {
	background: #8f41b2;
	/* Old browsers */
	background: -moz-linear-gradient(top, #8f41b2 0%, #f85a55 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #8f41b2 0%, #f85a55 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #8f41b2 0%, #f85a55 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f41b2', endColorstr='#f85a55',GradientType=0 );
	/* IE6-9 */
}

.social-rdn-green-line {
    border-radius: 5px;
    border-width:2;
    border-color:#66cc33;
    width:20%;
    height:3px;
}

.ninja-life-text {
	font-weight: bold;
	font-size: 20vw;
	color: #fff;
	letter-spacing: 1.2vw;
    margin-left: 8%;
}

.social-gray-bg {
    width: 100%;
	height: 160px;
	background-color: #5A5A5A;
	opacity: 0.2;
}

.social-community-txt {
    margin: 0 auto;
	text-align: center;
	z-index: 1;
	font-size: 60vw;
	color: #151517;
	font-weight: normal;
	text-transform: uppercase;
	width: 100%;
    margin-left: 1%;
    letter-spacing: 0.08vw;
}

.social-guidelines-txt {
    margin: 0 auto;
	text-align: center;
    z-index: 2;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	width: 100%;
	cursor:pointer;
    text-decoration: underline;
}

.social-grid-bkg {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
}

.social-icon-grid-middle {
    width: 18px;
    height: 18px;
}